{% extends './base.html'%}
{% block content %}
{% load zstatic %}

<main class="about-container">

    <div class="row flex-lg- align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <iframe class="iframe-video" width="800" height="300" src="https://www.youtube.com/embed/vxtIOgcdfmU"
                title="5th Interdistrict abacus, mentalarithmetic, 4th Vedicmaths competition2023 Chitradurgahighlights..."
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">About <span class="title-span">Us</span></h1>
            <p class="lead">We exist to make difference in thinking capabilities of students in a sustainable manner
                for creative confident
                tomorrow, we offer our course fostering cognitive development ability to think & reason along with
                learning capabilities
                which grows the community forward in the child academics.
            </p>

        </div>
    </div>
    <div class="mission">
        <h2 class="display-6 fw-bold text-body-emphasis  mb-3 mission-title"> <span class="title-span">Our</span>
            Mission</h1>
            <p class="lead wide">At Propath Academy, our mission is to enhance the thinking capabilities of students
                in a sustainable manner, fostering a
                creative and confident tomorrow.</p><br>
            <p class="lead wide"> Our courses are designed to promote cognitive development,
                reasoning skills, and
                learning abilities, advancing the academic growth of children and benefiting the broader community.
            </p><br>

            <p class="lead wide">Propath Academy stands out by engaging students in active brain fitness through the
                enrichment of
                visual learning
                capabilities in a disciplined environment.</p><br>
            <p class="lead wide"> Our growth is driven by a commitment to women empowerment
                and building
                entrepreneurship within our business. We strive for the satisfaction of our franchisees, course
                instructors, and clients
                by positively shaping the future of students.
            </p>
    </div>


</main>
<section class="team-section">
    <div class="container">
        <h2 class="display-6 fw-bold text-body-emphasis  mb-3 mission-title">Our <span class="title-span">
                Team</span></h2>
        <div class="team-grid">
            <div class="team-member">
                <img src="https://via.placeholder.com/150" alt="Team Member">
                <h3>John Doe</h3>
                <p>CEO</p>
            </div>
            <div class="team-member">
                <img src="https://via.placeholder.com/150" alt="Team Member">
                <h3>Jane Smith</h3>
                <p>CTO</p>
            </div>
            <div class="team-member">
                <img src="https://via.placeholder.com/150" alt="Team Member">
                <h3>Emily Johnson</h3>
                <p>CFO</p>
            </div>
            <div class="team-member">
                <img src="https://via.placeholder.com/150" alt="Team Member">
                <h3>Emily Johnson</h3>
                <p>CFO</p>
            </div>
        </div>
        <div class="team-grid">
            <div class="team-member">
                <img src="https://via.placeholder.com/150" alt="Team Member">
                <h3>John Doe</h3>
                <p>CEO</p>
            </div>
            <div class="team-member">
                <img src="https://via.placeholder.com/150" alt="Team Member">
                <h3>Jane Smith</h3>
                <p>CTO</p>
            </div>
            <div class="team-member">
                <img src="https://via.placeholder.com/150" alt="Team Member">
                <h3>Emily Johnson</h3>
                <p>CFO</p>
            </div>
            <div class="team-member">
                <img src="https://via.placeholder.com/150" alt="Team Member">
                <h3>Emily Johnson</h3>
                <p>CFO</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}