{% extends './base.html'%}
{% block content %}
{% load zstatic %}

<h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Courses</h2>
<main class="course-container">
    <div class="courses">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg c">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-7  lh-1 text-body-emphasis">Abacus</h1>
                <p class="lead wide">An abacus is an ancient tool used for performing mathematical calculations. The
                    word
                    "abacus" is derived from the Latin
                    word "abax," which means a flat surface or table. This instrument consists of beads that can be
                    moved to execute various
                    arithmetic operations, including addition, subtraction, multiplication, division, as well as
                    calculations involving
                    decimals and square roots.</p>
            </div>
            <div class="col-lg-4  p-0 overflow-hidden  shadow-lg">
                <img class="rounded-lg-3 img-fluid" src="{% zstatic 'packages/styles/images/landing/hero1.jpg' %}"
                    alt="" width="720">
            </div>
        </div>
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg c">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-7  lh-1 text-body-emphasis">Vedic Maths</h1>
                <p class="lead wide">Vedic Maths is a mathematical system that enhances speed and accuracy in
                    calculations through various shortcut tricks
                    and techniques, known as Vedic Sutras. Originating in India, the concept of Vedic Maths was
                    developed by Shri Bharti
                    Krishna Tirthaji, who is regarded as the father of Vedic Maths. He compiled all the Vedic Sutras
                    in his book, which
                    serve as the foundation for rapid calculation methods. These techniques can be applied to
                    perform quick and efficient
                    calculations in addition, subtraction, multiplication, division, decimals, square roots, cube
                    roots, HCF, LCM, and many
                    other advanced mathematical operations. Children can learn and benefit from these methods to
                    improve their mathematical
                    skills.</p>
            </div>
            <div class="col-lg-4  p-0 overflow-hidden  shadow-lg">
                <img class="rounded-lg-3 img-fluid" src="{% zstatic 'packages/styles/images/landing/hero1.jpg' %}"
                    alt="" width="720">
            </div>
        </div>
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg c">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-7  lh-1 text-body-emphasis">Handwriting</h1>
                <p class="lead wide">A Handwriting Course is designed to improve one's handwriting skills, focusing
                    on enhancing legibility, speed, and
                    overall presentation. This course employs various techniques and exercises to develop better
                    hand coordination,
                    consistency, and style in writing. Participants will learn proper letter formation, spacing, and
                    alignment, as well as
                    tips for maintaining a comfortable and efficient writing posture. Suitable for all age groups, a
                    handwriting course can
                    greatly benefit students, professionals, and anyone looking to refine their handwriting for
                    personal or professional
                    purposes.</p>
            </div>
            <div class="col-lg-4  p-0 overflow-hidden  shadow-lg">
                <img class="rounded-lg-3 img-fluid" src="{% zstatic 'packages/styles/images/landing/hero1.jpg' %}"
                    alt="" width="720">
            </div>
        </div>

    </div>

</main>

{% endblock %}